{
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [
    "./node_modules/@iopipe/scripts/babel",
    ["env", {
      "targets": {
        "node": ["4.3"]
      }
    }]
  ]
}
